
<div>
   <ul class="list-group mt-2 " 
         *ngFor="let ship of starships" >
      <li (click)="myShip( $event )" 
            class="list-group-item">
         <span Id="Contenido" Style="Display:none;">{{ ship.url }}</span>
         
         <p> {{ ship.name }} </p> 
         <p> {{ ship.model}} </p>
      </li> 
   </ul>   
</div> 

<div class="row">
   <div class="col">
     <button class="btn btn-dark float-end"
              (click)="moreShips()" >
       Más Naves
     </button>
   </div>
   <br>
 </div>
