<div class="row mt-5">
   <div class="col-2"></div>
   <div class="col">
      <img src="https://starwars-visualguide.com/assets/img/starships/{{urlId}}.jpg">
   </div>
</div>

<div class="row  m-5">
   <h1> {{cardShips.name}} </h1>  
   <br/>
   <div class="col m-2">
   
      <table>
         <tr>
             <td>Model:</td>
             <td>{{ cardShips.model }} </td>
         </tr>
         <tr>
            <td>Fabricante:</td>
            <td>{{cardShips.manufacturer}} </td>
        </tr>
         <tr>
             <td>Coste fabricación:</td>
             <td>{{cardShips.cost_in_credits}} <span>Creditos estelares.</span> </td>
         </tr>
         <tr>
            <td>Longitud:</td>
            <td>{{cardShips.length}} <span>m.</span>  </td>
        </tr>
         <tr>
             <td>Velocidad Max, ():</td>
             <td>{{cardShips.max_atmosphering_speed}} <span>atm.</span> </td>
         </tr>
         <tr>
            <td>Tripulación:</td>
            <td>{{cardShips.crew}};</td>
        </tr>
        <tr>
         <td>Pasajeros:</td>
         <td>{{cardShips.passengers}} </td>
       </tr>
       <tr>
         <td>Hiperimpulsor:</td>
         <td>{{cardShips.hyperdrive_rating}};</td>
     </tr>
     <tr>
      <td>MGLT:</td>
      <td>{{cardShips.MGLT}} <span>Megaluz</span> </td>
    </tr>
     </table>
   
   </div>
<br/>
</div>



